*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}


header {
	background: #1A2239;
	color: #eaeaea;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}


.logo {
   margin-right: auto;
   margin-left: 10px;
   cursor: pointer;
   transition: all .5s ease 0s;
}

.logo:hover {
	color: #FF6A3D;
	transform: rotate(2deg);
}

.btn-cta {
	margin-right: 10px;
	border: none;
	font-size: 20px;
	padding: 6px 12px;
	background: #FF6A3D;
	color: #eaeaea;
	border-radius: 8px;
	cursor: pointer;
}

nav ul{
	display: flex;
	padding: 20px;
}
li {
	list-style-type: none;
	padding: 10px;
}


li a {
	transition: all .5s ease 0s;
	display: inline-block;
}


li a:hover {
	color: #FF6A3D;
	transform: rotate(2deg);
}

a {
  color: #eaeaea;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	text-align: center;
}

.tittle {
	font-size: 24px;
	font-weight: bold;
}

.description {
		font-size: 28px;
		font-weight: bolder;
}

.img-foto {
	width: 100%;
	max-width: 500px;
	height; auto;
	padding: 10px;
	max-width: 500px;
}

.parallax {
	background-image: url('assets/poto/bedaa.jpeg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.tentang{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #1A2238;
	color: #eaeaea;
	padding: 40px;
}

.mt-10 {
	margin-top: 20px;
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 10vh;
	gap: 8px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 8px;
		
}

.card-item {
	text-align: center;
	width:25%;
	background: #f7f7f7;
	color: #222;
	padding: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5)
	
}

.card-tittle {
	font-size: 18px;
	font-weight: bolder;
	
}

.card-description {
	font-size: 14px;
	margin-top: 4px;
	
}

.icon {
	margin: 10px;
	width: 75px;
	height: 75px;
	margin: 10px;
	padding; 4px;
}

footer {
	margin: 0 auto;
	text-align: center;
	background: #1A2238;
	color: #eaea;
}

@media. screen and (max-width): 500px) {
	.card {
		flex-direction: column;
		gap: 0;
	}
	.card-item {
		width: 100;
	}
	
	.container {
		padding: 0; 
	}
	
	
	.intro {
		margin-top: 20px;
	}
	
	
	.img-poto {
		padding: 0;
	}
}